<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Web</title>
    <script async src="../Resources/opencv.js" onload="OpenCvReady()"></script>
    <!-- link to the css file -->
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <!-- main page -->
    <div class="main-page">
        <div class="side-line"></div>
        <div class="side-bar">
           <span class="circle" id="button-rgb"><i class="material-icons" style="font-size: 36px; color:white;">palette</i></span> 
           <span class="circle" id="button-gray"><i class="material-icons" style="font-size: 36px; color:white;">contrast</i></span> 
           <span class="circle" id="button-blur"><i class="material-icons" style="font-size: 36px; color:white;">blur_on</i></span> 
           <span class="circle" id="button-edge"><i class="material-icons" style="font-size: 36px; color:white;">grade</i></span> 
           <span class="circle blue-circle"><i class="material-icons" style="font-size: 36px; color:white;">videocam</i></span> 
        </div>
        
        <div class="right-panel">
            <div class="header">
                <div class="empty-side"></div>
                <h1>CV WEB</h1>
                <div class="logo-container"><img src="../Resources/ShahAhmadLogo.png" alt="" width=180px></div>

            </div>
           
            
            <div class="tablet-container">
                <img src="../Resources/tablet.png" width="800" height="540" alt="">
                <canvas id="main-canvas" width="800" height="600">
                    <img id="tablet-image" src="../Resources/car.png" alt="" width="730", heitht="600" srcset="">
                </canvas>
            </div>

        </div>

    </div>
    
     <script src="main.js"></script>
</body>
</html>